.imagen {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 100%;
    margin-top: 10px;
}

body {
    background-color: #212121;
}


.yo {
    text-align: center;
    font-family: 'Manrope', sans-serif;
    margin-top: 10px;
}

.inicio {
    text-align: center;
    font-family: 'Manrope', sans-serif;
    margin-top: 10px;
}

.link {
    text-align: center;
    font-family: 'Manrope', sans-serif;
    margin-top: 45%;
}

.biografia {
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10%;
}
